* {
	box-sizing: border-box;
}

:root {
	--navy: #1f2937;
	--pink: #da6aec;
	--red: #f43f5e;
	--blue: #2f74dc;
	--green: #22cd90;
}

body {
	background-color: #2f2f2f;
}

.main-board {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10%;
	margin-top: 60px;
}

.avatar {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.3rem solid white;
}

.avatar > img {
	width: 100%;
}

.avatar-letters {
	background-color: var(--red);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	font-family: 'Karla', sans-serif;
}

.avatar-icon {
	background-color: var(--navy);
}

.avatar > svg {
	height: 100%;
	width: 100%;
	transform: translateY(20px);
	color: whitesmoke;
}

/*
Classes below will help with rendering random 
background colors for the extra credit
*/
.navy {
	background-color: #1f2937;
}

.pink {
	background-color: #da6aec;
}

.red {
	background-color: #f43f5e;
}

.blue {
	background-color: #2f74dc;
}

.green {
	background-color: #22cd90;
}
